<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand " href="#" [routerLink]="[ '/' ]">ikismail</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" [routerLink]="[ '/' ]">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="[ '/products/all-products' ]">Our Products</a>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end">

      <li class="nav-item">
        <a href="#" class="nav-link" [routerLink]="['/index/favourites']">
          <i class="fa fa-heart">
            <span class="mt-2">{{favProdsCount}}</span>
          </i>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="fa fa-shopping-cart">
            <span class="mt-2">{{cartProductCount}}</span>
          </i>
        </a>
      </li>
      <li class="nav-item dropdown" *ngIf="authService.isLoggedIn()">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          My Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" [routerLink]="['/users']">Profile</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="logout()">Log Out</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="!authService.isLoggedIn()">
        <a href="" class="nav-link" [routerLink]="[ '/index/login' ]">Log In</a>
      </li>
    </ul>
  </div>
</nav>
