<!--Footer-->
<footer class="page-footer indigo center-on-small-only">

  <!--Footer Links-->
  <div class="container">
    <div class="row">

      <!--First column-->
      <div class="col-md-6">
        <h5 class="title">About Me</h5>
        <p>Hello, I'm Mohammed Ismail, I love developing websites.</p>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-md-6">
        <h5 class="title">Links</h5>
        <ul>
          <li>
            <a href="https://ikismail.github.io/" target="blank">Porfolio</a>
          </li>
          <li>
            <a href="https://github.com/ikismail" target="blank">Github</a>
          </li>
          <li>
            <a href="http://techajis.com/?i=1" target="blank">News Portal Simple Project</a>
          </li>
        </ul>
      </div>
      <!--/.Second column-->
    </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2018 Copyright:
      <a href="https://ikismail.github.io/" target="blank"> Mohammed Isamil </a>
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->