<div style="padding: 10px" class="z-depth-2">
  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->
  <!-- <agm-map [latitude]="" [longitude]="" [zoom]="zoom" [scrollwheel]="scrollWheel">
    <agm-marker *ngFor="let user of users" [latitude]="user.location.lat" [longitude]="user.location.lon" [label]="user['label']"
      (markerClick)="clickedMarker(user)">
      <agm-info-window [isOpen]="isOpen">
        <strong>{{user.userName}}</strong>
      </agm-info-window>
    </agm-marker>
  </agm-map> -->

  <!-- <agm-map [latitude]="51.673858" [longitude]="7.815982">
    <agm-marker-cluster [imagePath]="'https://github.com/googlemaps/js-marker-clusterer/blob/gh-pages/images/m1.png'">
      <agm-marker *ngFor="let marker of users" [latitude]="marker.location.lat" [longitude]="marker.location.lon"></agm-marker>
    </agm-marker-cluster>
  </agm-map> -->
</div>