<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
    <div class="col-md-9">

      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <!--Card-->
            <div class="card" style="margin-top:10px">

              <!--Card image-->
              <div class="view hm-white-slight waves-light" mdbRippleRadius>
                <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                <a>
                  <div class="mask"></div>
                </a>
              </div>

              <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Card title</h4>
                <!--Text-->
                <a class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
              </div>

            </div>
            <!--/.Card-->
          </div>
          <div class="col-sm-3">
            <!--Card-->
            <div class="card" style="margin-top:10px">

              <!--Card image-->
              <div class="view hm-white-slight waves-light" mdbRippleRadius>
                <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                <a>
                  <div class="mask"></div>
                </a>
              </div>

              <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Card title</h4>
                <!--Text-->
                <a class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
              </div>

            </div>
            <!--/.Card-->
          </div>
          <div class="col-sm-3">
            <!--Card-->
            <div class="card" style="margin-top:10px">

              <!--Card image-->
              <div class="view hm-white-slight waves-light" mdbRippleRadius>
                <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                <a>
                  <div class="mask"></div>
                </a>
              </div>

              <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Card title</h4>
                <!--Text-->
                <a class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
              </div>

            </div>
            <!--/.Card-->
          </div>
          <div class="col-sm-3">
            <!--Card-->
            <div class="card" style="margin-top:10px">

              <!--Card image-->
              <div class="view hm-white-slight waves-light" mdbRippleRadius>
                <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                <a>
                  <div class="mask"></div>
                </a>
              </div>

              <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Card title</h4>
                <!--Text-->
                <a class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
              </div>

            </div>
            <!--/.Card-->
          </div>
          <div class="col-sm-3">
            <!--Card-->
            <div class="card" style="margin-top:10px">

              <!--Card image-->
              <div class="view hm-white-slight waves-light" mdbRippleRadius>
                <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
                <a>
                  <div class="mask"></div>
                </a>
              </div>

              <!--Card content-->
              <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Card title</h4>
                <!--Text-->
                <a class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
              </div>

            </div>
            <!--/.Card-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>