<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
            <div class="mask"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Card title</h4>
          <!--Text-->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
        </div>

      </div>
      <!--/.Card-->
    </div>
    <div class="col-sm-4">
      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
            <div class="mask"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Card title</h4>
          <!--Text-->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
        </div>

      </div>
      <!--/.Card-->
    </div>
    <div class="col-sm-4">
      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
            <div class="mask"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Card title</h4>
          <!--Text-->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
        </div>

      </div>
      <!--/.Card-->
    </div>
    <div class="col-sm-4">
      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
            <div class="mask"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Card title</h4>
          <!--Text-->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
        </div>

      </div>
      <!--/.Card-->
    </div>
  </div>
</div>
<br>
<br>
<br>
