<br>
<br>
<br>
<div class="row">
  <div class="col-sm">
    <div class=" float-right">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Add Product
      </button>
    </div>
  </div>
</div>
<div class="">
  <div class="row">
    <div class="col-3" *ngFor="let product of productsList">
      <!--Card-->
      <div class="card" style="margin-top:10px">

        <!--Card image-->
        <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="{{product.productImages}}" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
            <div class="mask"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h5 class="card-title">{{product.productName}}</h5>
        </div>
        <!--Card footer-->
        <div class="card-footer">
          <span class="left">{{product.productPrice}} $</span>
          <span class="right">
            <a placement="top" mdbTooltip="Quick Look" container="body">
              <i class="fa fa-eye"></i>
            </a>
            <a placement="top" mdbTooltip="Add to Wishlist" container="body">
              <i class="fa fa-heart"></i>
            </a>
          </span>
        </div>

      </div>
      <!--/.Card-->
    </div>
  </div>
</div>
<br>
<br>
<br>
<!-- Modal -->
<app-add-product></app-add-product>