<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addProductForm="ngForm" (ngSubmit)="createProduct(addProductForm)">
          <!--First row-->
          <div class="row">
            <!--First column-->
            <div class="col">
              <input type="text" class="form-control" name="productName" [(ngModel)]="product.productName" placeholder="Product Name">
            </div>
            <!--Second column-->
            <div class="col">
              <input type="text" class="form-control" name="productCategory" [(ngModel)]="product.productCategory" placeholder="Product Category">
            </div>
          </div>
          <!--/.First row-->
          <!--Second row-->
          <div class="row mt-3">
            <!--First column-->
            <div class="col">
              <textarea type="text" class="form-control" placeholder="Product Description" name="productDescription" [(ngModel)]="product.productDescription"></textarea>
            </div>
          </div>
          <!--/.Second row-->
          <!--Third row-->
          <div class="row mt-3">
            <!--First column-->
            <div class="col">
              <input type="number" name="productPrice" class="form-control" [(ngModel)]="product.productPrice" placeholder="Product Price">
            </div>
            <!--Second column-->
            <div class="col">
              <input type="text" class="form-control" name="productQuatity" [(ngModel)]="product.productQuatity" placeholder="Product Quantity">
            </div>
          </div>
          <!--/.Third row-->
          <!--Fourth row-->
          <div class="row mt-3">
            <div class="col">
              <input type="text" [(ngModel)]="product.productSeller" class="form-control" name="productSeller" placeholder="Seller">
            </div>
          </div>
          <!--/.Fourth row-->
          <!--Fifth row-->
          <div class="row mt-3">
            <div class="col">
              <input type="text" [(ngModel)]="product.productImageUrl" class="form-control" name="productImageUrl" placeholder="Image Url exactly 640*360 dimensions">
            </div>
          </div>
          <!--/.Fifth row-->
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Add Product</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
