<!--Section: Products v.1-->
<section class="section pb-3">
  <!--Section heading-->
  <h1 class="section-heading h1 pt-4">Our bestsellers</h1>
  <!--Section description-->
  <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi,
    veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

  <!--First row-->
  <div class="row">
    <div class="owl-carousel bestSeller owl-theme">
      <!--First column-->
      <div class="item">
        <div class="mb-r ">

          <!--Card-->
          <div class="card card-cascade narrower">

            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(35).jpg" class="img-fluid" alt="">
              <a>
                <div class="mask waves-effect waves-light" mdbRippleRadius></div>
              </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-body text-center">
              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Shirts</h5>
              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">Denim shirt</a>
                </strong>
              </h4>

              <!--Rating-->
              <ul class="rating">
                <li>
                  <i class="fa fa-star"></i>
                </li>
                <li>
                  <i class="fa fa-star"></i>
                </li>
                <li>
                  <i class="fa fa-star"></i>
                </li>
                <li>
                  <i class="fa fa-star"></i>
                </li>
                <li>
                  <i class="fa fa-star-o"></i>
                </li>
              </ul>

              <!--Description-->
              <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                numquam.
              </p>

              <!--Card footer-->
              <div class="card-footer">
                <span class="left">49$</span>
                <span class="right">
                  <a placement="top" mdbTooltip="Add to Cart">
                    <i class="fa fa-shopping-cart"></i>
                  </a>
                  <a placement="top" mdbTooltip="Share">
                    <i class="fa fa-share-alt"></i>
                  </a>
                  <a class="active" placement="top" mdbTooltip="Added to Wishlist" container="body">
                    <i class="fa fa-heart"></i>
                  </a>
                </span>
              </div>

            </div>
            <!--/.Card content-->

          </div>
          <!--/.Card-->

        </div>
      </div>
      <!--/First column-->

      <!--Second column-->
      <div class="item">
        <div class="mb-r">

          <!--Card-->
          <div class="card card-cascade narrower">

            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(29).jpg" class="img-fluid" alt="">
              <a>
                <div class="mask waves-effect waves-light" mdbRippleRadius></div>
              </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-body text-center">
              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Shoes</h5>
              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">High heels</a>
                </strong>
              </h4>

              <!--Rating-->
              <ul class="rating">
                <li>
                  <i class="fa fa-star"></i>
                </li>
                <li>
                  <i class="fa fa-star"></i>
                </li>
                <li>
                  <i class="fa fa-star"></i>
                </li>
                <li>
                  <i class="fa fa-star"></i>
                </li>
                <li>
                  <i class="fa fa-star"></i>
                </li>
              </ul>

              <!--Description-->
              <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                numquam.
              </p>

              <!--Card footer-->
              <div class="card-footer">
                <span class="left">89$</span>
                <span class="right">
                  <a placement="top" mdbTooltip="Add to Cart">
                    <i class="fa fa-shopping-cart"></i>
                  </a>
                  <a placement="top" mdbTooltip="Share">
                    <i class="fa fa-share-alt"></i>
                  </a>
                  <a placement="top" mdbTooltip="Add to Wishlist" container="body">
                    <i class="fa fa-heart"></i>
                  </a>
                </span>
              </div>

            </div>
            <!--/.Card content-->

          </div>
          <!--/.Card-->

        </div>
      </div>
      <!--/Second column-->

      <!--Third column-->
      <div class="item">
        <div class=" mb-r item">

          <!--Card-->
          <div class="card card-cascade narrower">

            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(30).jpg" class="img-fluid" alt="">
              <a>
                <div class="mask waves-effect waves-light" mdbRippleRadius></div>
              </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-body text-center">
              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Accessories</h5>
              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">White sneakers</a>
                </strong>
              </h4>

              <!--Rating-->
              <ul class="rating">
                <li>
                  <i class="fa fa-star"></i>
                </li>
                <li>
                  <i class="fa fa-star"></i>
                </li>
                <li>
                  <i class="fa fa-star"></i>
                </li>
                <li>
                  <i class="fa fa-star"></i>
                </li>
                <li>
                  <i class="fa fa-star-half-o"></i>
                </li>
              </ul>

              <!--Description-->
              <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                numquam.
              </p>

              <!--Card footer-->
              <div class="card-footer">
                <span class="left">59$</span>
                <span class="right">
                  <a placement="top" mdbTooltip="Add to Cart">
                    <i class="fa fa-shopping-cart"></i>
                  </a>
                  <a placement="top" mdbTooltip="Share">
                    <i class="fa fa-share-alt"></i>
                  </a>
                  <a placement="top" mdbTooltip="Add to Wishlist" container="body">
                    <i class="fa fa-heart"></i>
                  </a>
                </span>
              </div>

            </div>
            <!--/.Card content-->

          </div>
          <!--/.Card-->

        </div>
      </div>
      <!--/Third column-->

      <!--Fourth column-->
      <div class="item">
        <div class="mb-r">

          <!--Card-->
          <div class="card card-cascade narrower">

            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(16).jpg" class="img-fluid" alt="">
              <a>
                <div class="mask waves-effect waves-light" mdbRippleRadius></div>
              </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-body text-center">
              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Blouses</h5>
              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">Sweatshirt</a>
                </strong>
              </h4>

              <!--Rating-->
              <ul class="rating">
                <li>
                  <i class="fa fa-star"></i>
                </li>
                <li>
                  <i class="fa fa-star"></i>
                </li>
                <li>
                  <i class="fa fa-star"></i>
                </li>
                <li>
                  <i class="fa fa-star"></i>
                </li>
                <li>
                  <i class="fa fa-star-o"></i>
                </li>
              </ul>

              <!--Description-->
              <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                numquam.
              </p>

              <!--Card footer-->
              <div class="card-footer">
                <span class="left">119$</span>
                <span class="right">
                  <a placement="top" mdbTooltip="Add to Cart">
                    <i class="fa fa-shopping-cart"></i>
                  </a>
                  <a placement="top" mdbTooltip="Share">
                    <i class="fa fa-share-alt"></i>
                  </a>
                  <a class="active" placement="top" mdbTooltip="Added to Wishlist" container="body">
                    <i class="fa fa-heart"></i>
                  </a>
                </span>
              </div>

            </div>
            <!--/.Card content-->

          </div>
          <!--/.Card-->

        </div>
      </div>
      <!--/Fourth column column-->
    </div>
  </div>
  <!--/First row-->
</section>
<!--Section: Products v.1-->