<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="product-image">
        <div class="view hm-zoom z-depth-2" style="cursor: pointer">
          <img [src]="product.productImageUrl" [alt]="product.productName" width="100%" class="img-fluid rounded">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="product-detail z-depth-1">
        <table class="table">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Product Description</th>
              <th>Product </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td scope="row"></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="product-ship border border-dark"></div>
    </div>
  </div>
</div>