<div class="container">

  <app-navbar></app-navbar>

  <!-- Carousel -->

  <!--Carousel Wrapper-->
  <mdb-carousel [animation]="'slide'">
    <!--First slide-->
    <mdb-slide>
      <!-- <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide"> -->
      <img class="d-block w-100" src="https://m.media-amazon.com/images/S/aplus-media/sota/b35a7c43-9cac-45ba-b097-121ea6446a4f._SR970,300_.PNG" alt="First slide">
    </mdb-slide>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-slide>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
    </mdb-slide>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-slide>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
    </mdb-slide>
    <!--/Third slide-->
  </mdb-carousel>
  <!--/.Carousel Wrapper-->

</div>