<br>
<div class="container" *ngIf="favoruiteProducts">
  <div class="row">
    <!-- List of Products -->
    <div class="col-sm-4" *ngFor="let product of favoruiteProducts">
      <div class="item">
        <div class=" mb-r">

          <!--Card-->
          <div class="card card-cascade wider">

            <!--Card image-->
            <a [routerLink]="['/products/product', product.productId]">

              <div class="view overlay hm-white-slight">
                <img [src]="product.productImageUrl" class="img-fluid" alt="" width="360px" height="640px">
                <a>
                  <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                </a>
              </div>
            </a>

            <!--/.Card image-->

            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <a class="text-muted">
                <h5>{{ product.productCategory }}</h5>
              </a>
              <h5 class="card-title">
                <strong>
                  <a [routerLink]="['/products/product', product.productId]">{{ product.productName }}</a>
                </strong>
              </h5>

              <!--Description-->
              <p class="card-text">{{ product.productDescription }}
              </p>

              <!--Card footer-->
              <div class="card-footer">
                <span class="left">{{ product.productPrice }} $</span>
                <span class="right">
                  <a placement="top" mdbTooltip="Quick Look" container="body" [routerLink]="['/products/product', product.productId]">
                    <i class="fa fa-eye"></i>
                  </a>
                  <a placement="top" mdbTooltip="Add to Wishlist" container="body">
                    <i class="fa fa-heart" style="color: red"></i>
                  </a>
                  <a placement="top" mdbTooltip="Remove Product" container="body" (click)="removeLocalFavourite(product.productId)">
                    <i class="fa fa-trash"></i>
                  </a>
                </span>
              </div>

            </div>
            <!--/.Card content-->

          </div>
          <!--/.Card-->

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="favoruiteProducts.length === 0">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          Oops!</h1>
        <h2>
          No Favourite Products Found</h2>
        <div class="error-details">
          Please, choose your favourite products,
        </div>
        <div class="error-actions">
          <a [routerLink]="[ '/' ]" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-home"></span>
            Take Me Home </a>
          <a [routerLink]="[ '/products/all-products' ]" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-envelope"></span>Our Products </a>
        </div>
      </div>
    </div>
  </div>
</div>
