<!--Section: Products v.2-->
<section class="section pb-3">
  <!--Section heading-->
  <h1 class="section-heading h1">Our Best Products</h1>
  <!--Section description-->
  <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi,
    veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-default float-right">View All</a>
    </div>
  </div>
  <!--First row-->
  <div class="row">
    <div class="owl-carousel bestSeller owl-theme">
      <!--First column-->
      <div class="item" style="padding:20px">
        <div class=" mb-r">

          <!--Card-->
          <div class="card card-cascade wider">

            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (55).jpg" class="img-fluid" alt="">
              <a>
                <div class="mask waves-effect waves-light" mdbRippleRadius></div>
              </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Camera</h5>
              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">GoPro</a>
                </strong>
              </h4>

              <!--Description-->
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit. Nam incidunt eius est voluptatibus.
              </p>

              <!--Card footer-->
              <div class="card-footer">
                <span class="left">39$</span>
                <span class="right">
                  <a placement="top" mdbTooltip="Quick Look" container="body">
                    <i class="fa fa-eye"></i>
                  </a>
                  <a placement="top" mdbTooltip="Add to Wishlist" container="body">
                    <i class="fa fa-heart"></i>
                  </a>
                </span>
              </div>

            </div>
            <!--/.Card content-->

          </div>
          <!--/.Card-->

        </div>
      </div>
      <!--/First column-->

      <!--Second column-->
      <div class="item" style="padding:20px">
        <div class=" mb-r">

          <!--Card-->
          <div class="card card-cascade wider">

            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(49).jpg" class="img-fluid" alt="">
              <a>
                <div class="mask waves-effect waves-light" mdbRippleRadius></div>
              </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Photography</h5>
              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">Camera</a>
                </strong>
              </h4>

              <!--Description-->
              <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
              </p>

              <!--Card footer-->
              <div class="card-footer">
                <span class="left">49$</span>
                <span class="right">
                  <a placement="top" mdbTooltip="Quick Look" container="body">
                    <i class="fa fa-eye"></i>
                  </a>
                  <a class="active" placement="top" mdbTooltip="Added to Wishlist" container="body">
                    <i class="fa fa-heart"></i>
                  </a>
                </span>
              </div>

            </div>
            <!--/.Card content-->

          </div>
          <!--/.Card-->

        </div>
      </div>
      <!--/Second column-->

      <!--Third column-->
      <div class="item" style="padding:20px">
        <div class=" mb-r">

          <!--Card-->
          <div class="card card-cascade wider">

            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (56).jpg" class="img-fluid" alt="">
              <a>
                <div class="mask waves-effect waves-light" mdbRippleRadius></div>
              </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Smartphone</h5>
              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">iPhone 6S</a>
                </strong>
              </h4>

              <!--Description-->
              <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                numquam.
              </p>

              <!--Card footer-->
              <div class="card-footer">
                <span class="left">69$</span>
                <span class="right">
                  <a placement="top" mdbTooltip="Quick Look" container="body">
                    <i class="fa fa-eye"></i>
                  </a>
                  <a placement="top" mdbTooltip="Add to Wishlist" container="body">
                    <i class="fa fa-heart"></i>
                  </a>
                </span>
              </div>

            </div>
            <!--/.Card content-->

          </div>
          <!--/.Card-->

        </div>
      </div>
      <!--/Third column-->

      <!--Fourth column-->
      <div class="item" style="padding:20px">
        <div class=" mb-r">

          <!--Card-->
          <div class="card card-cascade wider">

            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (56).jpg" class="img-fluid" alt="">
              <a>
                <div class="mask waves-effect waves-light" mdbRippleRadius></div>
              </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Smartphone</h5>
              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">iPhone 6S</a>
                </strong>
              </h4>

              <!--Description-->
              <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                numquam.
              </p>

              <!--Card footer-->
              <div class="card-footer">
                <span class="left">69$</span>
                <span class="right">
                  <a placement="top" mdbTooltip="Quick Look" container="body">
                    <i class="fa fa-eye"></i>
                  </a>
                  <a placement="top" mdbTooltip="Add to Wishlist" container="body">
                    <i class="fa fa-heart"></i>
                  </a>
                </span>
              </div>

            </div>
            <!--/.Card content-->

          </div>
          <!--/.Card-->

        </div>
      </div>
      <!--/Fourth column-->
      <!--Fifth column-->
      <div class="item" style="padding:20px">
        <div class=" mb-r">

          <!--Card-->
          <div class="card card-cascade wider">

            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img (56).jpg" class="img-fluid" alt="">
              <a>
                <div class="mask waves-effect waves-light" mdbRippleRadius></div>
              </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>Smartphone</h5>
              </a>
              <h4 class="card-title">
                <strong>
                  <a href="">iPhone 6S</a>
                </strong>
              </h4>

              <!--Description-->
              <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                numquam.
              </p>

              <!--Card footer-->
              <div class="card-footer">
                <span class="left">69$</span>
                <span class="right">
                  <a placement="top" mdbTooltip="Quick Look" container="body">
                    <i class="fa fa-eye"></i>
                  </a>
                  <a placement="top" mdbTooltip="Add to Wishlist" container="body">
                    <i class="fa fa-heart"></i>
                  </a>
                </span>
              </div>

            </div>
            <!--/.Card content-->

          </div>
          <!--/.Card-->

        </div>
      </div>
      <!--/Fifth column-->
    </div>

  </div>
  <!--/First row-->
</section>
<!--Section: Products v.2-->
